# Evaluation Results 
Results/*/*/*
Results/*/TrainResults.png


# Training Results 
TrainResults/*/*/*/*


# DataSet
DataSet


# Weights
Weights


# Settings Caches
wandb
__pycache__


# png files
*.png