# DataSet
DataSet


# Weights
Weights


# Settings Caches
wandb
__pycache__

# log files
*.log
out/
*.pdf
*.tar.gz
.*/*


# .pth files
*.pth


#*.txt files
*.txt


#Results
Results/Evaluation/dataset_views
Results/Evaluation/real_binarized_otsu_black_bg_white_text

TrainResults/